/* DIALOG */

*{ text-decoration: none; }

@font-face
{
    font-family: cartoon;
    src: url(../font/BD_Cartoon_Shout.ttf);
}

#fillBG
{
	display:			none;
	position:			fixed;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	background-color: 	hsla(0,0%,0%,.8);
	z-index: 			99;
}

.dialog
{
	display:			none;
	position: 			absolute;
	background-color: 	hsla(285,20%,30%,.9);
	width:				80%;
	border-radius:		10px;
	border:				2px dashed hsla(285,20%,20%,.75);
	z-index: 			100;
}
		
		.dialogTitle
		{
			color:			#fff;
			padding:		20px 0;
			
			font-size: 		150%;
			font-weight:	bold;
			
			font-family: 	cartoon;
			letter-spacing: 2px;
			text-align:		center;	
		}
		
		.dialog-btn
		{
			margin: 			20px auto;
			padding: 			20px 50px;
			width:				50%;
			
			border-bottom:		6px solid #085;
			border-radius: 		20px;
			
			background-color:	#0a5;
			color: 				#fff;
			
			font-size: 			125%;
			font-weight:		bold;
			
			font-family: 		cartoon;
			letter-spacing: 	2px;
			text-align:			center;	
			text-shadow:		0 4px #083;
		}
		
			.dialog-btn[role=resume]
			{
				background-color: 	#08a;
				text-shadow:		0 4px #068;
				border-bottom:		6px solid #068;
			}
			
			a .dialog-btn[role=quit]
			{
				background-color: 	#dd5454;
				text-shadow:		0 4px #bd5454;
				border-bottom:		6px solid #bd5454;
				text-decoration: 	none;
			}
			
		#dialogSoundMute
		{
			display: 		inline-block;
			text-align:		center;
			background: 	#0ac;
			border:			2px solid #08a;
			border-radius:	5px;
			font-size:		200%;
			width:			50px;
			height:			50px;
			line-height:	50px;
			color:			#fff;
			margin:			10px 0 10px 38%;
			cursor:			pointer;
		}		