@font-face
{
    font-family: cartoon;
    src: url('../font/BD_Cartoon_Shout.ttf');
}

/* general stuff */
html, body {
    padding: 0;
    margin: 0;
    background-color: #00CCFF;
    height: 100%;
}

.cardImage {
    max-height: 100%;
    max-width: 100%;
}


/* Main content area */

#content {
    overflow: hidden;
    background-image:url('../images/backgrounds/level1.png');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
}

/* Slots for final card positions */

#cardSlots {
    margin: 0 auto;
}

/* The initial pile of unsorted cards */

#cardPile {
    margin: 0 auto;
    margin-top: 100px;
}

#cardSlots, #cardPile {
    width: 900px;
    padding: 10px;
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
    display: inline-block;
    width: 14%;
    height: 130px;
    padding: 15px;
    border: 2px solid #333;
    margin: 10px;
    background: #00ADD8;
}

#cardSlots div.hovered {
    background: #eee;
}

#cardSlots div {
    font-variant: small-caps;
    font-size: 30px;
    font-family: "Calibri";
    letter-spacing: 2px;
    line-height: 120px;
    border: 2px dashed #0083A0;
    color: #fff;
    border-radius: 10px;
}

#cardPile div {
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#cardPile div:hover {
    cursor: pointer;
}

/* Individually coloured cards */

#card.correct {
    background-color: #76B948;
    border: 2px solid #76B948;
    border-radius: 8px;
}

#card.wrong {
    background-color: #CC4747;
    border: 2px solid #CC4747;
    border-radius: 8px;
}

/* After the game is completed, show the menu */
#successMessage {
    display: none;
    position: fixed;
    overflow-y: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    /*background-color: rgba(255, 255, 255, 0.95);*/
    background-color: #0ac;
    padding: 20px;
}

/* Buttons presented in the menu after the game is completed */

.menuBtns
{
	margin: 			10px auto;
	padding: 			20px 10px;
	border:				none;
	border-bottom:		6px solid #085;
	border-radius: 		20px;

	background-color:	#0a5;
	color: 				#fff;

	font-size: 			125%;
	font-weight:		bold;

	font-family: 		cartoon;
	letter-spacing: 	2px;
	text-align:			center;
	text-shadow:		0 4px #083;
}

	/* Each button in the menu with different width and colours */

	.playAgain
	{
		width: 90%;
	}

	.quit
	{
		width:				90%;
		background-color: 	#dd5454;
		text-shadow:		0 4px #bd5454;
		border-bottom:		6px solid #bd5454;
	}

	.nextLevel
	{
		width:				90%;
		background-color: 	#a077d3;
		text-shadow:		0 4px #9067c3;
		border-bottom:		6px solid #9067c3;
	}

	/* Where the game has a timer and score: */

	.endGameMsg				/* Level complete/failed */
	{
		font-size: 			150%;
		font-weight:		bold;
		color:				#fff;
		font-family: 		cartoon;
		letter-spacing: 	2px;
		text-align:			center;
		text-shadow:		0 4px #08a;
	}

	.timeRemain				/* "time remain x 15" displayed with animation */
	{
		display:			none;
		font-size: 			150%;
		color: 				#fff;
		padding:			20px 0;
		font-family: 		cartoon;
		letter-spacing: 	2px;
		text-align:			center;
		text-shadow:		0 4px #08a;
	}

	.score					/* The yellow score animated */
	{
		display:			none;
		font-size: 			250%;
		padding:			20px 0;
		font-weight:		bold;
		color:				#ffd65e;
		font-family: 		cartoon;
		letter-spacing: 	2px;
		text-align:			center;
		text-shadow:		0 4px #bf961e;
	}
		.scoreText				/* Score plaintext */
		{
			font-size: 			50%;
			padding:			20px 0;
			font-weight:		bold;
			color:				#fff;
			font-family: 		cartoon;
			letter-spacing: 	2px;
			text-align:			center;
			text-shadow:		0 4px #08a;
		}

	.btnIcon					/* Buttons with icons, regards the dialog aswell */
	{
		padding-left: 	10px;
		font-size: 		150%;
	}

.droppable-cards, .draggable-cards {
    position: relative;
}

.fa-volume-up {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.playAgain:active, .playAgain:focus,
.nextLevel:active, .nextLevel:focus,
.quit:active, .quit:focus {
    outline: 0;
}

#successMessage .options {
    margin: 5px auto;
}

.scale {
    display: block;
}

.scale:hover {
    /*transform: rotate(-5deg);*/
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#successMessage .back a {
    font-size: 25px;
    z-index: 200;
}

/* media queries */

@media screen and (max-width: 2000px) {
    #HUD {
        padding: 0;
        margin: 0;
    }

    #content {
        margin: 0;
        padding: 0;
    }

    #cardSlots, #cardPile {
        width: 100%;
        height: 46%;
        padding: 0;
        margin: 0;
    }

    #cardSlots div, #cardPile div {
        width: 44%;
        height: 40%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    #cardSlots div:nth-child(odd) {
        margin-right: 4px;
    }
}
