*{									/* Default */
	padding:			0px;
	margin:				0px;
	list-style:			none;
	text-decoration:	none;
}

									/* F O N T */
@font-face
{
    font-family: cartoon;
    src: url(../font/BD_Cartoon_Shout.ttf);
}

/*---------------------------------------------------------------------------*/

body
{
	width:	100%;
}

/*---------------------------------------------------------------------------*/


#loadingWrapper
{
	position: 			fixed;
	width:				100%;
	height:				100%;
	background-color: 	#0ac;
	z-index:			100;
}

	#loadingWrapper .loadingText
	{
		position: 		relative;
		color: 			#fff;
		text-align: 	center;
		top: 			40%;
		font-family: 	cartoon;
		font-size: 		200%;
	}

#mainMenu
{
	position: 			relative;
	width: 				100%;

	background-image: 	url('../images/backgrounds/bg1.png');
	background-size: 	cover;
	background-position:0 0;
	background-repeat: 	no-repeat;

	overflow: 			hidden;
}

#mainLogo
{
	display: 	block;
	width: 		80%;
	max-width:	300px;
	margin: 	50px auto;

}

/* States of content */

.state
{
	position: 	absolute;
	top:		0;
	display:	block;
	width:		100%;
	display:	none;
}

	.state[role=home]
	{

	}

	.state[role=settings]
	{


	}

	.state[role=category]
	{

	}

.button
{
	display: 		block;
	max-width:		300px;
	width:			80%;

	margin: 		20px auto;
	padding: 		20px 0;

	border-bottom:	6px solid #085;
	border-radius: 	20px;

	background-color:#0a5;
	color: 			#fff;

	font-size: 		150%;
	font-weight:	bold;

	font-family: 	cartoon;
	letter-spacing: 2px;
	text-align:		center;
	text-shadow:	0 4px #083;
}

	.button[role=settingsButton]
	{
		text-shadow:		0 4px #09b;
		background-color: 	#0ac;
		border-bottom:		6px solid #09b;
	}


.titleHeader
{
	display: 		flex;
	font-family: 	cartoon;
	text-align: 	center;
	color: 			#fff;
	text-shadow:	0 2px #888;
	background: 	hsla(190,50%,50%,.75);

}

	.backButton
	{
		font-size: 	125%;
		padding:	4% 3%;
		flex-grow:	0;
		background: hsla(190,50%,50%,.4);
	}

	.titleText
	{
		flex-grow:	1;
		font-size: 	200%;
		padding:	4% 0;
	}

.buttonItemsConainer
{
	padding-top: 	50px;
	max-width: 		720px;
	margin: 		0 auto;
	display: 		flex;
	flex-wrap:		wrap;
	justify-content: flex-start;
	/* overflow-y: auto; */
}

	.buttonItems
	{
		display:		none;

		margin: 		20px auto;
		padding: 		20px 50px;

		border-bottom:	6px solid #085;
		border-radius: 	20px;

		background-color:#0a5;
		color: 			#fff;

		font-size: 		125%;
		font-weight:	bold;

		font-family: 	cartoon;
		letter-spacing: 2px;
		text-align:		center;
		text-shadow:	0 4px #085;
	}

		.buttonItems[role=level] > a
		{
			color: #fff;
		}
		
		.buttonItems[role=mute] 
		{
			width:			50%;
			background: 	#08a;
			border-bottom: 	6px solid #068;
			text-shadow:	0 4px #068;
		}
		
		.buttonItems[role=subSound]
		{
			background-color: 	#dd5454;
			text-shadow:		0 4px #bd5454;
			border-bottom:		6px solid #bd5454;
		}
		
		
	